/**
 * Colors
 **/

$red: #ff0000;
$purple: #3a0272;
$blue: #042e9a;
$pink: #b30086;
$white: #ffffff;
$yellow: #eef315;
$green: #61f638;

$font-color: $purple;
$highlight-font-color: $white;
$link-color: $green;
$link-hover-color: $yellow;
$highlight-color: $yellow;
$background-color-main: $purple;
$contrast-background-color: $white;
