/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 24px;
    font-weight: 400;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: -webkit-calc($spacing-unit / 2);
        margin-bottom:         calc($spacing-unit / 2);
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-subheader{
    color: $grey-color;
    font-size: 20px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/********************
My Added CSS
********************/

/*Hamburger menu on small screen*/
.hamburger {
    height: 0;
    width: 20px;
    position: relative;
    top: 6px;
    margin: auto;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 10px;
}

.hamburger::before {
    display: block;
    position: absolute;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 10px;
    content: "";
    width: 20px;
    top: 5px;
}

.hamburger::after {
    position: absolute;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 10px;
    content: "";
    width: 20px;
    bottom: 5px;
    display: block;
}

/*Landing Page*/
.home-page{
    text-align: center;
}

#home-img{
    max-width: 300px;
    width: 50%;
    @include border-radius(100%);
    border: 5px $grey-color-dark solid;
    display: inline-block;
    @include media-query($on-laptop) {
        display: block;
        margin: auto;
    }
}

.intro{
    margin-bottom: $spacing-unit / 3;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    @include media-query($on-laptop) {
        display: block;
        margin: auto;
    }
}

.rss-subscribe{
    float: right;
}

/**********
Image within Text Styling
**********/

.img-right{
    float: right;
    max-width: 150px;
    width: 25%;
    margin-left: 10px;
}

.img-left{
    float: left;
    max-width: 150px;
    width: 25%;
    margin-right: 10px;
}

.img-subtext{
    font-size: 13px;
    text-align: center;
}

/**************
Sharing Buttons
**************/
.sharing{
    clear: both;
}

.social-media-container{
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin: 0 auto 20px;

    & li{
        display: inline-block;
    }
}

.share-me{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

/**********
Personal Header Image
**********/
.header-image{
    width: 50px;
    border: 1px $brand-color solid;
    @include border-radius(100%);
    margin: 5px 2px;
    vertical-align: top;
}

/**************
Disqus Comments Styling
**************/

#disqus_thread{
    width: 95%;
    max-width: 800px;
    margin: auto;
}

.copyright{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}