.list-photos {
	list-style: none;
}

.list-photos li {
  float: left;
  margin: 10px;
  max-width: 150px;
}

.photo__image {
  border: 1px solid #ededed;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: #000;
	background-color: rgba( 0,0,0, .8);
  z-index: 99;
  overflow: scroll;
}

.lightbox:target {
  display: block;
}

.lightbox-border{
  max-width: 80%;
  background-color: white;
  margin: auto;
  border: 1px white solid;
  padding: 10px;
}

.photo__class{
  max-width: 60%;
  display: inline-block;
}

.box-text{
  max-width: 95%;
  margin: .5em auto;
}

.lightbox--fade:target {
  -webkit-animation: fadein .5s ease-in 1 forwards;
     -moz-animation: fadein .5s ease-in 1 forwards;
       -o-animation: fadein .5s ease-in 1 forwards;
          animation: fadein .5s ease-in 1 forwards;
}
.lightbox--fade {
	opacity: 0;
}

@-webkit-keyframes fadein {
  100% { opacity: 1; }
}

.close{
  font-size: 24px;
  display: inline-block;
}

.img-title{
  font-size: 24px;
}

.float-right{
  float: right;
  @include media-query($on-palm) {
    float: none;
  }
}

.clear{
  clear: both;
}

.set-width{
  max-width: 59%;
  display: inline-block;
}

.side-by-side{
  max-width: 40%;
  display: inline-block;
}

.previous-next{
  margin-top: 10px;
}

.previous{
  border-style: solid solid solid none;
  border-color: $grey-color;
  border-width: 2px;
  padding: 5px;
  @include border-radius(5px);
}

.next{
  @extend .previous;
  float: right;
  border-style: solid none solid solid;
}