// PROJECT

.project {}

    .project__header {}

    .project__description {}

    .project__image-block {
        display: flex;
        justify-content: center;

        @include min-width($above-tablet) {
            justify-content: space-between;
        }
    }

        .project__image-block-image {

            @include min-width($above-tablet) {
                width: 45%;
            }
        }

    .project__video {

        iframe {
            width: 100%;
            min-height: 720px;
        }
    }

    .project__section {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
    }
