@import "../../sass/index.scss";

.Footer {
  align-items: center;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.Footer__text {
  display: block;
}

.Footer__icon {
  vertical-align: text-bottom;

  &.Footer__icon--love {
    background: $contrast-background-color;
    fill: $red;
    height: 24px;
    padding: 2px;
    width: 24px;
  }
}
